services:
  vein-server:
    image: ghcr.io/vintage-elmobius/vein-server:latest
    container_name: vein-server
    restart: unless-stopped

    environment:
      TZ: America/New_York

      PORT: "7788"
      QUERY_PORT: "27055"

      SERVER_NAME: "My Dockerized VEIN Server"
      SERVER_DESCRIPTION: "Its a server. That you can join."
      SERVER_PASSWORD: "password"
      MAX_PLAYERS: "8"

      SUPER_ADMIN_STEAM_IDS: "SteamID64"
      ADMIN_STEAM_IDS: ""

      SERVERLIST_VISIBLE: "True"
      BIND_ADDR: "0.0.0.0"
      VAC_ENABLED: "0"

      DASHBOARD_ENABLED: "true"
      DASHBOARD_PORT: "8443"

    volumes:
      - /srv/games/vein-data:/opt/server

    ports:
      - "7788:7788/udp"
      - "27055:27055/udp"
      - "8081:8081"

  vein-backup:
    image: ghcr.io/vintage-elmobius/vein-backup:latest
    container_name: vein-backup
    restart: unless-stopped

    depends_on:
      - vein-server

    environment:
      PUID: "1000"
      PGID: "1000"
      VEIN_SERVER_BACKUP_INTERVAL_SECONDS: "7200"
      VEIN_SERVER_BACKUP_RETENTION: "10"

    volumes:
      - /srv/games/vein-data:/data:ro
      - /srv/games/vein-backups:/backup
  
  vein-ui:
    container_name: vein-ui
    network_mode: service:vein-server
    restart: unless-stopped
    image: ghcr.io/vintage-elmobius/vein-ui:latest
    depends_on:
      - vein-server
