version: "3.8"

services:
  vein-server:
    image: ghcr.io/vintage-elmobius/vein-server:wip
    container_name: vein-server
    restart: unless-stopped

    environment:
      TZ: "America/New_York"

      # Server ports
      PORT: "7777"
      QUERY_PORT: "27015"

      # Server identity
      SERVER_NAME: "My Dockerized VEIN Server"
      SERVER_DESCRIPTION: "Its a server. That you can join."
      SERVER_PASSWORD: "password"
      MAX_PLAYERS: "8"

      # Admins
      SUPER_ADMIN_STEAM_IDS: "SteamID64"
      ADMIN_STEAM_IDS: ""

      # Visibility & networking
      SERVERLIST_VISIBLE: "True"
      BIND_ADDR: "0.0.0.0"
      VAC_ENABLED: "0"

      # HTTP API (internal only)
      DASHBOARD_ENABLED: "true"
      DASHBOARD_PORT: "8443"

    volumes:
      - /srv/games/vein-data:/opt/server

    ports:
      - "7777:7777/udp"
      - "27015:27015/udp"

  vein-ui:
    build:
      context: .
      dockerfile: nginx.Dockerfile
    container_name: vein-ui
    restart: unless-stopped
    depends_on:
      - vein-server
    ports:
      - "8081:8081"
